body {
  background-color: honeydew;
}

.section-search input {
  padding: 5px !important;
  font-size: 18px !important;
  width: 90% !important;
  border: #f4f4f4 3px solid !important;
}

.section-follow .fa-4x {
  margin: 5px 10px;
}

h1,h2,h3,h4,h4,p, a {
  font-family: 'Roboto Condensed', sans-serif;
}
